.footer__links {
    
    list-style-type: none;
    display: flex;
    margin-left: 0;
    padding-left: 0;
    align-items: center;
    
    
    
}
@media screen and (max-width: 768px) {
    .footer__links {
        
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        padding-top: 64px;
        
    }
    }