.place__website {
    font-size: 12px;
    line-height: 12px;
    color: #AAAAAA;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-area: website;
}

@media screen and (max-width:600px) {
    .place__website {
        display: none;
    }
}
